body {
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none !important;
}

.spacer{
  margin-top:10em;
  margin-bottom:10em;
}

/*HEADER*/

h1{
 
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

h3{
   font-family: 'Lora', serif;
   font-style: italic;
}

h4{
     font-family: 'Lora', serif;
   font-style: italic;
}


.header{
  background-color: #4AB6C4;
   margin-top: -100px;

}

.bars{
  padding: 20px;
}


.name-header{
padding-top:40vh;
}

.connect-header{
  margin-top: 30vh;
  transition:.2s;
  display:inline-block;
  padding-bottom:1vh;
  
}

.connect-header:hover{
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  color:white;


   } 

   .header-inner{
     padding-top:10px;
   }

.name-bottom{
  padding-bottom: 10vh;
}

.white{
  color:white;
}

.angle-right{
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 0px;


}


/*EXPLORE*/


.grid{
  position: relative; height: 1200px;
}


/*SKILLS*/

.skills{
  list-style: none;
   font-family: 'Lora', serif;
   color: #95989A;

}


.gray{
 color: #95989A;
}


/*CONNECT*/
.connect{
   font-family: 'Lora', serif;
   font-style: italic;
   color: #95989A;
  
   display: inline-block;
   font-size: 1.5em;
   background-color: transparent;
   border:none;
   display:inline-block;
  
   
}

.skew{
 transition:.2s;
}

.skew:hover{
    -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

/*.connect:hover{
    -webkit-transform: skew(-10deg);
  transform: skew(-10deg);

}*/



.side{
  border-left: .5px solid #95989A;
}

.form-group{
  padding-bottom: 10px;
  border-color: #95989A;
  border-width: .5px;
  font-family: 'Lora', serif;
   font-style: italic;

}

.aboutp{
  margin-top: 20px;
  color:#95989A;
  font-family: 'Lora', serif;
}
.explore1{
  height: 300px;
  width:100%;
  background-image: url("/img/web/moss/moss.png");
  background-size: 100%;
  background-repeat: no-repeat;
    background-position: center;

}

.explore2{
  height: 400px;
  width:100%;
   background-image: url("/img/web/ticky-tacky/ticky.png");
  background-size: 200%;
  background-repeat: no-repeat;
    background-position: center;

}

.explore3{
  height: 500px;
  width:100%;
   background-image: url("/img/web/timony/timony.png");
  background-size: 200%;
  background-repeat: no-repeat;
    background-position: center;

}
.explore4{
  height: 200px;
  width:50%;
   background-image: url("/img/web/shakespeare/shakespeare.png");
  background-size: 100%;
  background-repeat: no-repeat;
    background-position: center;
  display:inline-block;

}
.explore5{
  height: 200px;
  width:50%;
   background-image: url("/img/web/weather.png");
  background-size: 100%;
  background-repeat: no-repeat;
    background-position: center;
   display:inline-block;

}

.explore6{
  height: 500px;
  width:100%;
     background-image: url("/img/web/bighorn.png");
  background-size: 400%;
  background-repeat: no-repeat;
    background-position: left;


}

.explore7{
  height: 200px;
  width:50%;
     background-image: url("/img/web/nopical/login.png");
  background-size: 210%;
  background-repeat: no-repeat;
    background-position: top;
     display:inline-block;


}


 .no-marg{
   padding:0px !important;

}


/*FOOTER*/

.footer{
  background-color: #4AB6C4;
  margin-top:2em;
}

.connect-here{
  color:white;
  padding-top:20px;
  padding-bottom:20px;

}

/*.hvr-skew-forward {
  display: inline-block;
  
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}*/

.footer-icons {
  padding-right:.5em;
  padding-left:.5em;
  transition: .4s;
  color:white;
  text-decoration: none !important;
}
.footer-icons a{

    text-decoration-line: none !important;
    text-decoration: none !important;

   } 

.footer-icons:hover{
  transform: scale(1.2);
    opacity: 0.5;
    text-decoration-line: none !important;
    text-decoration: none !important;

   } 